<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add Post</title>
</head>
<body>
  <form action="/posts/add" method="POST">
    <label for="content">Content</label>
    <textarea name='content'></textarea>
    <button>Add Post</button>
  </form>
</body>
</html>
