<%- include('./template/header.ejs') %>
<div class='col-xs-12' style='text-align:center;color:rgba(0,0,0,0.4)'>
<h1 style='font-size:10em;'><%= status %></h1>
<h3 style='font-size:7em;'><%= message %></h3>
</div>
<%- include('./template/footer.ejs') %>