<%- include('./template/header.ejs') %>

  <body>
      <div>
        <div class='col-xs-8 col-xs-offset-2' style='height:90px;'>
          <div class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sorted By:
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" style='border:none;border-radius:0px;'>
              <li>
                <a href="#">Recent Posts</a>
              </li>
              <li>
                <a href="#">Most Popular</a>
              </li>
            </ul>
          </div>
        </div>

        <% for(let i = 0; i < posts.length; i++){ %>
          <%- include('./template/post.ejs', { post : posts[i] }) %>
        <% } %>
        <script>
          function showComment(id) {
            document.getElementById('showcomment' + id).style.display = 'block'
            document.getElementById('hidecomment' + id).style.display = 'none'
          }

          function hideComment(id) {
            document.getElementById('hidecomment' + id).style.display = 'block'
            document.getElementById('showcomment' + id).style.display = 'none'
          }
        </script>
  </body>

  </html>