<%- include('./template/header.ejs') %>

  <body>
    <%- include('./template/homeNav.ejs') %>
      <div>
        <% if ( username){ %>
          <a href='/posts/add'>Create Post</a>
          <%  }%>
            <div class='col-xs-8 col-xs-offset-2' style='height:90px;'>
              <div class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sorted By: <span class="caret"></span></a>
                <ul class="dropdown-menu" style='border:none;border-radius:0px;'>
                  <li><a href="#">Recent Posts</a></li>
                  <li><a href="#">Most Popular</a></li>
                </ul>
              </div>
            </div>

            <% for(let i = 0; i < posts.length; i++){ %>
              <div class='panel panel-default col-xs-offset-2 col-xs-8 post-default' style='min-height:300px; background-color: rgba(44, 44, 44, 0.1);border-radius:15px;padding:15px;'>
                <div class='panel panel-default post-default' style='padding:20px;margin-top:10px;min-height:180px; background-color: white;border-radius:15px;'>
                  <div>
                    <%= posts[i].content %>
                  </div>
                </div>
                <p>1 like</p>
                <div id='hidecommentId' class='panel panel-default post-default' style='padding-top:5px;padding-left:15px;margin-top:10px;height:35px; background-color: rgba(255, 255, 255, 0.445);border-radius:20px;'>
                  <a onclick="showComment(id)" style='font-size:0.8em;'>View Comments (18)</a>
                </div>
                <div id='showcommentId' class='panel panel-default post-default' style='padding:15px;padding-top:5px;padding-left:15px;margin-top:10px;min-height:100px; background-color: rgba(255, 255, 255, 0.445);border-radius:20px;display:none;'>
                  <a onclick="hideComment(id)" style='font-size:0.8em;'>Hide Comments</a>
                  <div id='showcommentId' class='panel panel-default post-default' style='padding:30px;margin-top:10px;min-height:75px; background-color: rgba(255, 255, 255, 0.568);border-radius:10px;'>
                    <p style='font-size:0.8em;'>Comment1</p>
                  </div>
                  <div id='showcommentId' class='panel panel-default post-default' style='padding:30px;margin-top:10px;min-height:75px; background-color: rgba(255, 255, 255, 0.568);border-radius:10px;'>
                    <p style='font-size:0.8em;'>Comment2</p>
                  </div>
                  <div id='showcommentId' class='panel panel-default post-default' style='padding:30px;margin-top:10px;min-height:75px; background-color: rgba(255, 255, 255, 0.568);border-radius:10px;'>
                    <p style='font-size:0.8em;'>Comment3</p>
                  </div>
                </div>
              </div>
      </div>
      <% } %>
        <script>
          function showComment(id) {
            document.getElementById('showcommentId').style.display = 'block'
            document.getElementById('hidecommentId').style.display = 'none'
          }

          function hideComment(id) {
            document.getElementById('hidecommentId').style.display = 'block'
            document.getElementById('showcommentId').style.display = 'none'
          }
        </script>
  </body>

  </html>
