<form class="" action="/posts/update" method="post">
  <label> Contents</label> <input name='content' type='text' value='<%=Contents%>'/>
  <input name ='id' type='text' value='<%=id%>'/>
  <button type="submit" name="button">test form</button>

</form>
