<nav class="navbar navbar-default" style='height:100px;background:white;border:none;'>
    <div class="container-fluid" style='height:100%;padding-right:95px;padding-top:10px;padding-left:50px;'>
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header" style='height:100%;'>
        <a class="navbar-brand" style='height:80%' href="/"><img class='img-responsive' style='max-height:100%' src="/img/anoniboxlogo.png" alt=""></a>
      </div>
      <ul class="nav navbar-nav navbar-right">
            <% if(username === undefined){ %>
                <li style='border-right:0.1px rgba(0, 0, 0, 0.7) solid'><a href="/users/register">Register</a></li>
                <li style='border-left:0.1px rgba(0, 0, 0, 0.7) solid'><a href="/login">Login</a></li>
            <% }else{ %>
                <li style='border-right:0.1px rgba(0, 0, 0, 0.7) solid'><a href="/users/<%= userId %>"><%= username %></a></li>
                <li style='border-left:0.1px rgba(0, 0, 0, 0.7) solid'><a href="/logout">Logout</a></li>
            <% } %>
      </ul>
    </div>
</nav>